body
{
	margin: 0px;
	background-color: #FFFFFF;
	font-family: 'lucida grande',verdana,helvetica,arial,sans-serif;
}

a:link
{
	color: blue;
	text-decoration: underline;
}

a:visited
{
	color: blue;
}

a:hover
{
	color: blue;
	text-decoration: none;
}

a
{
	color: blue;
}

h1 {
	font-size: 28px;
}

h1
{
	font-size: 22px;
	color: #3333CC;
	font-weight: bold;
}

.info
{
	font-size: 9pt;
	color: #666;
}

.header
{
	font-size: 18px;
	color: #222288;
	font-weight: bold;
}

.subheader
{
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}

input.big
{
	background-color: white;
	border: 1px solid black;
	font-size: 20px;
}

select.big
{
	background-color: white;
	border: 1px solid black;
	font-size: 20px;
}
